
body {
    font-family: Tahoma, "Segoe UI", Arial, sans-serif;
    background: #165bc9;
    direction: rtl;
    padding: 20px;
}

.card {
    max-width: 520px;
    margin: 30px auto;
    background: #e2d2d262;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .08);
    padding: 18px;
    filter: blur(1.03px);
}

h2 {
    margin: 0 0 14px 0;
    color: rgba(19, 109, 199, 0.712);
    text-align: center;
}

input[type=file] {
    display: block;
    margin: 10px auto;
}

#preview {
    display: block;
    margin: 12px auto;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .06);
}

.status {
    margin-top: 12px;
    text-align: center;
    min-height: 36px;
}

.progress {
    height: 8px;
    width: 100%;
    background: #eee;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 6px;
}

.progress>i {
    display: block;
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #3aa0ff, #1a5cff);
    transition: width .15s ease;
}

.ocr-text {
    white-space: pre-wrap;
    text-align: right;
    background: #fafafa;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 14px;
    color: #222;
    max-height: 140px;
    overflow: auto;
}

.pw {
    display: none;
    margin-top: 12px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background: #2b9a4a;
    padding: 10px 12px;
    border-radius: 8px;
}

.warn {
    color: #b33;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

.small {
    font-size: 13px;
    color: #666;
    text-align: center;
    margin-top: 8px;
}
.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* يخلي الفيديو يغطي الشاشة بالكامل */
  z-index: -1;
}



/* *************************************************** */
.🤚 {
  --skin-color: #431ec9ee;
  --tap-speed: 0.6s;
  --tap-stagger: 0.1s;
  position: relative;
  width: 80px;
  height: 60px;
  margin-left: 80px;
}

.🤚:before {
  content: '';
  display: block;
  width: 180%;
  height: 75%;
  position: absolute;
  top: 70%;
  right: 20%;
  background-color: black;
  border-radius: 40px 10px;
  filter: blur(10px);
  opacity: 0.3;
}

.🌴 {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--skin-color);
  border-radius: 10px 40px;
}

.👍 {
  position: absolute;
  width: 120%;
  height: 38px;
  background-color: var(--skin-color);
  bottom: -18%;
  right: 1%;
  transform-origin: calc(100% - 20px) 20px;
  transform: rotate(-20deg);
  border-radius: 30px 20px 20px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.👍:after {
  width: 20%;
  height: 60%;
  content: '';
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -8%;
  left: 5px;
  border-radius: 60% 10% 10% 30%;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.👉 {
  position: absolute;
  width: 80%;
  height: 35px;
  background-color: var(--skin-color);
  bottom: 32%;
  right: 64%;
  transform-origin: 100% 20px;
  animation-duration: calc(var(--tap-speed) * 2);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: rotate(10deg);
}

.👉:before {
  content: '';
  position: absolute;
  width: 140%;
  height: 30px;
  background-color: var(--skin-color);
  bottom: 8%;
  right: 65%;
  transform-origin: calc(100% - 20px) 20px;
  transform: rotate(-60deg);
  border-radius: 20px;
}

.👉:nth-child(1) {
  animation-delay: 0;
  filter: brightness(70%);
  animation-name: tap-upper-1;
}

.👉:nth-child(2) {
  animation-delay: var(--tap-stagger);
  filter: brightness(80%);
  animation-name: tap-upper-2;
}

.👉:nth-child(3) {
  animation-delay: calc(var(--tap-stagger) * 2);
  filter: brightness(90%);
  animation-name: tap-upper-3;
}

.👉:nth-child(4) {
  animation-delay: calc(var(--tap-stagger) * 3);
  filter: brightness(100%);
  animation-name: tap-upper-4;
}

@keyframes tap-upper-1 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(0.4);
  }

  40% {
    transform: rotate(50deg) scale(0.4);
  }
}

@keyframes tap-upper-2 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(0.6);
  }

  40% {
    transform: rotate(50deg) scale(0.6);
  }
}

@keyframes tap-upper-3 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(0.8);
  }

  40% {
    transform: rotate(50deg) scale(0.8);
  }
}

@keyframes tap-upper-4 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(1);
  }

  40% {
    transform: rotate(50deg) scale(1);
  }
}